<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: dodgerblue;
            padding: 100px;
        }

        .container > div {
            background-color: #f1f1f1;
            border: 1px solid black;
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>

<h1>display: grid</h1>

<p>Use display: grid; to make a block-level grid container:</p>

<div class="container">
    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
        <div class="menu"><a href="nhl.com">Delete</a> <a href="#">Update</a><br></div> <!--check this-->
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

    <div>
        <div class="name">Cheetah</div>
        <div class="user_id">4</div>
        <div class="availability">True</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Male_cheetah_facing_left_in_South_Africa.jpg"
             alt="Cheetah!" width="240" height="260">
        <div class="stock_count">Stock: 1</div>
        <div class="description">A real life cheeatah how amazing!</div>
    </div>

</div>

</body>
</html>
